<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.niandev.materiworkshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dataserver.BarangActivity"></activity>
        <activity android:name=".sqllite.EditActivity" />
        <activity android:name=".sqllite.ListActivity" />
        <activity android:name=".sqllite.FormSqliteActivity" />
        <activity android:name=".anko.AnkoActivity" />
        <activity android:name=".permissionandlibrary.GlideActivity" />
        <activity android:name=".intent.IntentWithDataActivity" />
        <activity android:name=".intent.IntentNoDataActivity" />
        <activity android:name=".sharepreference.SharepreferenceActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>